<nav class="bg-gray-900">
  <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <img src="/static/img/Logo.png" alt="Logo" class="h-8 w-8 mr-2">
        <a href="{{ url_for('dashboard') }}" class="text-white font-bold text-xl">MailFlow</a>
        <div class=" md:block ml-10 flex items-baseline space-x-4">
          <a href="{{ url_for('dashboard') }}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
          <a href="{{ url_for('manage_users') }}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Create User</a>
          <a href="{{ url_for('manage_activities') }}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Create Activity</a>
          <a href="{{ url_for('account') }}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Account</a>
        </div>
      </div>
      <div class="hidden md:block">
        <a href="{{ url_for('logout')}}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
      </div>
    </div>
  </div>
</nav>